@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #f49f0a;
  --richBlack: #001d29;
  --steelBlue: #347fc4;
  --amaranthRed: #ec325a;
  --verdiGreen: #3cbbb1;
  --maizeYellow: #fee440;
  --mauvPurple: #a300cc;
  --pink: #fdc5f5;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Setting min-height to 100vh may create problems on mobile. Use "min-height: 100%"
  and set html "height: 100%" */
  min-height: 100%;
  background-color: #001d29;
  font-family: "DM Sans", sans-serif;
}

header {
  color: #fff;
  margin-top: 40px;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

header h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 900px;
  height: 400px;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 90px;
  height: 90px;
  color: #fff;
  padding: 0 8px;
  transform: scale(1);
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
  z-index: 1;
}

.visible-element:after {
  z-index: 10;
  content: attr(data-description);
  background: #f9f8f7;
  color: #333;
  width: 250px;
  position: absolute;
  top: 80%;
  opacity: 0;
  transition: opacity 0.3s ease 0.3s,
    top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
  height: auto;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -50px;
  border-radius: 6px;
  text-align: center;
  pointer-events: none;
}

.element:hover:after {
  top: 112%;
  opacity: 1;
}

.element h3 {
  font-size: 2.25rem;
}

.element p {
  font-size: 0.7rem;
}

.visible-element {
  border: 4px solid white;
  background-color: var(--richBlack);
}

.visible-element:hover {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 5;
}

/* .visible-element:active {
  scale: 1.1;
} */

.blue {
  border: 4px solid #347fc4;
  color: #347fc4;
}

.blue:hover {
  background-color: #347fc4;
  color: #fff;
}

.orange {
  border: 4px solid var(--orange);
  color: var(--orange);
}

.orange:hover {
  background-color: var(--orange);
  color: #fff;
}

.green {
  border: 4px solid #3cbbb1;
  color: #3cbbb1;
}

.green:hover {
  background-color: #3cbbb1;
  color: #fff;
}

.red {
  border: 4px solid #ec325a;
  color: #ec325a;
}

.red:hover {
  background-color: #ec325a;
  color: #fff;
}

.purple {
  border: 4px solid var(--mauvPurple);
  color: var(--mauvPurple);
}

.purple:hover {
  background-color: var(--mauvPurple);
  color: #fff;
}

.yellow {
  border: 4px solid #fee440;
  color: #fee440;
}

.yellow:hover {
  background-color: #fee440;
  color: #fff;
}

.pink {
  border: 4px solid #fdc5f5;
  color: #fdc5f5;
}

.pink:hover {
  background-color: #fdc5f5;
  color: #fff;
}

.islands-container {
  width: 900px;
  margin: 0 auto;
}

.region-container {
  display: flex;
  justify-content: space-between;
  width: 900px;
  color: #fff;
  margin: 50px auto 40px;
}

.region {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.blue-square {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  background-color: var(--steelBlue);
}

.orange-square {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  background-color: var(--orange);
}

.red-square {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  background-color: var(--amaranthRed);
}

.green-square {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  background-color: var(--verdiGreen);
}

.purple-square {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  background-color: var(--mauvPurple);
}

.pink-square {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  background-color: var(--pink);
}

.footer {
  width: 100%;
  margin-top: auto;
  padding: 10px;
  background-color: #002b3d;
  color: white;
  text-align: center;
}
